@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.hero
{
    background: rgb(75, 76, 77);
    background-size: cover;
    background-position: center;
   
}

.logo
{
    color: white;
    font-size: 28px;
}

span
{
    color: orangered;
}

nav:hover
{
    color: orangered;
    border-bottom: 3px solid orangered;
}

.logo:hover
{
    color: orangered;
}

nav span:hover
{
    color: white;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover
{
    color: orangered;
    transition: .0.9s;
    text-decoration: underline;
}

.home
{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: transparent;
    align-items: center;
    gap: 7em;
    padding:  30px 12% 0;
}

.home-content h3
{
    font-size: 42px;
    line-height: 1.2;
    color: orangered;
}

.home-content h1
{
    font-size: 42px;
    line-height: 1.2;
    color: black;
}

h3:hover
{
    color: black;
    transition: .0.9s;
    text-decoration: wavy;
}

h1:hover
{
    color: orangered;
    transition: .0.9s;
    text-decoration: wavy;
}

.img-box img
{
    border-radius: 50%;
    max-width: 100%;
    width: 420px;
    height: auto;
}

::-webkit-scrollbar
{
    width: 13px;
}

::-webkit-scrollbar-thumb
{
    background-color: orangered;
}

::-webkit-scrollbar-track
{
    background-color: rgb(0, 0, 0, 0.6);
    width: 25px;
}

.about
{
    display: flex;
    background: black;
    align-items: center;
    font-size: 30px;
    padding: 12% 8%;
    gap: 10em;
    bac
}

.about-img img
{
    position: relative;
    width: 280px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 50%;
    
}

.about-content h2
{
    text-align: left;
    font-size: 42px;
    color: white;
}


.about-content p
{
    text-align: left;
    font-size: 42px;
    color: white;
}

.about-content p2
{
    text-align: left;
    font-size: 16px;
    margin:  2em 0 3em;
    color: white;
}

.contact
{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 5% 5%;
    gap: 10em;
}

@media (max-width: 600px) 
{
  .home-content h1,
  .about-content p 
    {
        font-size: 32px;
    }
 .home-content h3 
    {
        font-size: 24px;
    }

  .img-box img,
  .about-img img 
    {
        width: 220px;
    }
}
    
@media (max-width: 1024px) {
  .home,
  .about,
  .contact {
    flex-direction: column;
    gap: 3em;
    padding: 50px 5%;
    text-align: center;
  }
